@media (min-width: 1400px) {
    .custom-mail {
        margin-left: -22px;
    }
}

/* custom bullet css */
.custom-bullet-point {
    list-style-type: disc !important;
    list-style-position: inside !important;
    padding-left: 1.5rem;
    display: block !important;
}

.custom-bullet-point li {
    list-style-type: disc !important;
    display: list-item !important;
    margin-bottom: 0.5rem;
    text-align: justify;
    color: inherit;
}

.portfolio-img {
    width: 100%;
    /* full width of the card */
    height: 200px;
    /* fixed height */
    object-fit: fill;
    /* keeps image center-cropped and avoids distortion */
    border-radius: 8px;
    /* optional: slight rounded corners */
}

@media (max-width: 576px) {
    .title-area{
        text-align: center !important;
    }
    .title{
        margin-bottom: -5px !important;
        font-size: 25px !important;
    }

    .phone {
        margin-left: 0px !important;
    }

    .custom-mail {
        margin-left: 0px;
    }

    .mail-wrap {
        word-wrap: break-word;
        /* break long words gracefully */
        overflow-wrap: anywhere;
        /* modern alternative */
        white-space: normal;
    }
    .nav-content-padding{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}